<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.DepartmentStoreProductMapper">

    <select id="existsByProductIdAndDepartmentStoreId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM department_store_product
        WHERE product_id = #{productId}
        AND department_store_id = #{departmentStoreId}
    </select>

    <select id="findCommonPickupStoresByProductIds" resultType="org.phoenix.planet.dto.order.raw.PickupStoreInfo">
        SELECT
        dsp.department_store_id as storeId,
        ds.name as storeName
        FROM department_store_product dsp
        JOIN department_store ds ON dsp.department_store_id = ds.department_store_id
        WHERE dsp.product_id = #{productId}
    </select>

    <select id="findPickupStoresByProductIds" parameterType="list" resultType="org.phoenix.planet.dto.order.raw.PickupStoreProductInfo">
        SELECT
        dsp.product_id,
        ds.department_store_id as storeId,
        ds.name as storeName
        FROM department_store_product dsp
        INNER JOIN department_store ds ON dsp.department_store_id = ds.department_store_id
        WHERE dsp.product_id IN
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </select>

</mapper>