<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.CarAccessMapper">
    
    <insert id="insertEnterCar" parameterType="string">
        INSERT INTO car_access_history (
        car_access_history_id,
        car_number,
        status,
        created_at
        ) VALUES (
        seq_car_access_history.NEXTVAL,
        #{carNumber},
        'ENTER',
        SYSDATE
        )
    </insert>
    <insert id="insertExitCar" parameterType="string">
        INSERT INTO car_access_history (
        car_access_history_id,
        car_number,
        status,
        created_at
        ) VALUES (
        seq_car_access_history.NEXTVAL,
        #{carNumber},
        'EXIT',
        SYSDATE
        )
    </insert>
    
    <select id="selectCarAccessHistories"
        resultType="org.phoenix.planet.dto.car_access.response.CarAccessHistoryResponse">
        SELECT
        car_number AS carNumber,
        status,
        TO_CHAR(created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt
        FROM car_access_history
        ORDER BY created_at DESC
    </select>

</mapper>