<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.OfflineProductMapper">
    <select id="selectAllByOfflineShopId" parameterType="long"
        resultType="org.phoenix.planet.dto.offline.response.OfflineProductListResponse">
        SELECT
        offline_product_id AS productId,
        offline_shop_id AS shopId,
        name AS name,
        price AS price
        FROM offline_product
        WHERE offline_shop_id = #{offlineShopId}
        ORDER BY offline_product_id
    </select>
</mapper>