<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.OfflineProductMapper">
    
    <select id="selectTumblerProductIdList" resultType="java.lang.Long">
        SELECT
        offline_product_id
        FROM
        offline_product
        WHERE name = '텀블러 할인'
    </select>
    
    <select id="selectPaperBagProductIdList" resultType="java.lang.Long">
        SELECT
        offline_product_id
        FROM
        offline_product
        WHERE name = '종이백'
    </select>

</mapper>