<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.OfflinePayHistoryMapper">
    <update id="updateStockIssueStatusTrue" parameterType="long">
        UPDATE offline_pay_history
        SET stock_issued = 1,
        updated_at = SYSDATE
        WHERE offline_pay_history_id = #{offlinePayHistoryId}
    </update>
    
    <select id="selectByBarcode"
        parameterType="string"
        resultType="org.phoenix.planet.dto.offline.raw.OfflinePayHistory"
    >
        SELECT
        offline_pay_history_id AS offlinePayHistoryId,
        shop_id AS shopId,
        card_company_id AS cardCompanyId,
        card_number_last4 AS cardNumberLast4,
        total_price AS totalPrice,
        barcode,
        stock_issued AS stockIssued
        FROM offline_pay_history
        WHERE barcode = #{barcode}
    </select>

</mapper>