<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.MemberCardMapper">
    
    <select id="selectMemberIdByCardCompanyIdAndCardNumber"
        parameterType="map"
        resultType="java.lang.Long">
        SELECT mc.member_id
        FROM member_card mc
        WHERE mc.card_company_id = #{cardCompanyId}
        AND mc.card_number = #{cardNumber}
    </select>
</mapper>