<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.EcoStockPriceHistoryMapper">

    <select id="findAllPriceHistory"
            resultType="org.phoenix.planet.dto.eco_stock.raw.StockData">
        SELECT
        sph.stock_price_history_id AS stock_price_history_id,
        sph.eco_stock_id AS ecoStockId,
        sph.stock_time AS stockTime,
        sph.stock_price AS stockPrice,
        sph.sell_count AS sellCount,
        sph.buy_count AS buyCount
        FROM stock_price_history sph
        WHERE sph.eco_stock_id = #{ecoStockId}
        ORDER BY sph.stock_time ASC
    </select>

    <insert id="saveIfNotExists" parameterType="org.phoenix.planet.dto.eco_stock.raw.StockData">
        <selectKey keyProperty="stockPriceHistoryId" resultType="long" order="BEFORE">
            SELECT SEQ_STOCK_PRICE_HISTORY.NEXTVAL FROM dual
        </selectKey>

        MERGE INTO stock_price_history target
        USING (
        SELECT #{ecoStockId} AS eco_stock_id,
        CAST(#{stockTime} AS DATE) AS stock_time
        FROM dual ) src
        ON ( target.eco_stock_id = src.eco_stock_id AND target.stock_time = src.stock_time )
        WHEN NOT MATCHED THEN
        INSERT ( stock_price_history_id, eco_stock_id, stock_time,
        stock_price, sell_count, buy_count )
        VALUES ( #{stockPriceHistoryId}, #{ecoStockId}, #{stockTime},
        #{stockPrice}, #{sellCount}, #{buyCount} )
    </insert>

    <select id="findAllLatestPrice" resultType="org.phoenix.planet.dto.eco_stock.raw.StockData">
        SELECT * FROM (
        SELECT
        stock_price_history_id AS stockPriceHistoryId,
        eco_stock_id AS ecoStockId,
        stock_time AS stockTime,
        stock_price AS stockPrice,
        sell_count AS sellCount,
        buy_count AS buyCount,
        ROW_NUMBER() OVER (PARTITION BY eco_stock_id ORDER BY stock_time DESC) as rn
        FROM stock_price_history
        ) WHERE rn = 1
    </select>

</mapper>
