<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.phoenix.planet.mapper.EcoStockMapper">

    <select id="selectById" parameterType="long"
        resultType="org.phoenix.planet.dto.eco_stock.raw.EcoStock">
        SELECT
        eco_stock_id AS id,
        name,
        quantity,
        image_url AS imageUrl
        FROM eco_stock
        WHERE eco_stock_id = #{id}
    </select>


    <select id="findAll"
            resultType="org.phoenix.planet.dto.eco_stock.raw.EcoStock">
        SELECT
        es.eco_stock_id AS id,
        es.name AS name,
        es.quantity AS quantity,
        es.image_url AS imageUrl
        FROM eco_stock es
        ORDER BY es.eco_stock_id ASC
    </select>
</mapper>